<!DOCTYPE html>
<html lang="en">
<head>
    <title>PelisNET</title>
    <link rel="shortcut icon" href="../imagenes/cine.png">
    <link rel="stylesheet" href="../estilos/style.css">
</head>
<body id="cuerpo">
    
        <header class="border">
            <h1>PelisNET</h1>
            <a href="../index.html">
                <img src="../imagenes/logo.jpg">
            </a>
            

            
        </header>
        <section id="peliculas" class="border">
            <h2>Peliculas</h2>
        <div>
            <img src="../imagenes/shang-chi.jpg">
            <img src="../imagenes/spacejam2.jpg">
            <img src="../imagenes/snakeeyes.jpg">
            <img src="../imagenes/freeguy.jpg">
            <img src="../imagenes/elescuadronsuicida2.jpg">
            <img src="../imagenes/elejercitodelosmuertos.jpg">
            <img src="../imagenes/007.jpg">
            <img src="../imagenes/luca.jpg">
            <img src="../imagenes/fastandfurious.jpg">
            <img src="../imagenes/godzillavskong.jpg">
        </div>
    </section>
    <nav class="border">
        <div class="menuFlex">
    
            <span><a href="../index.html">Inicio</a></span>
            <span><a href="../views/peliculas.html">Peliculas</a></span>
            <span><a href="../views/series.html">Series</a></span>
            <span><a href="../views/populares.html">Populares</a></span>
            <span><a href="../views/contacto.html">Contacto</a></span> <br>


</div>

         
    </nav>
        <footer class="border">Pie de pagina - &copy;2021 Todos los derechos reservados - Redes sociales <a href="https://facebook.com"><img src="../imagenes/facebook.png" alt=""> </a>
            <a href="https://instagram.com"><img src="../imagenes/instagram.png" alt=""> </a><a href="https://twitter.com"><img src="../imagenes/twitter.png" alt=""></a> -desarrollado por:Alexis
        </footer>
</body>
</html>