<!DOCTYPE html>
<html>
<head>
    
    <title>PelisNET-Populares</title>
    <link rel="shortcut icon" href="../imagenes/cine.png">
    <link rel="stylesheet" href="../estilos/style.css">
</head>
<body id="cuerpo">
    <header class="border">
        <h1>Populares</h1>
        <a href="../index.html">
            <img src="../imagenes/logo.jpg">
        </a>
        </header>
        <section id="peliculas" class="border">
            <h2>Populares-peliculas</h2>
            <div>
                        <img src="../imagenes/spiderman.jpg">
                        <img src="../imagenes/avengers.jpg">
                        <img src="../imagenes/joker.jpg">
                        <img src="../imagenes/godzillavskong.jpg">
                        <img src="../imagenes/ligadelajusticia.jpg">
                    </div>

        </section>
        <section id="estrenos" class="border">
            <h2>Populares-Series</h2>
            <div>
                        <img src="../imagenes/loki.jpg">
                        <img src="../imagenes/residentevil.jpg">
                        <img src="../imagenes/whatif.jpg">
                        <img src="../imagenes/arcane.jpg">
                        <img src="../imagenes/wandavision.jpg">
                    </div>

        </section>
        
            
        <nav class="border">
            <div class="menuFlex">
        
                <span><a href="../index.html">Inicio</a></span>
                <span><a href="../views/peliculas.html">Peliculas</a></span>
                <span><a href="../views/series.html">Series</a></span>
                <span><a href="../views/populares.html">Populares</a></span>
                <span><a href="../views/contacto.html">Contacto</a></span> <br>
    
    
    </div>
    
             
        </nav>
    
    
            <footer>Pie de pagina - &copy;2021 Todos los derechos reservados - Redes sociales <a href="https://facebook.com"><img src="../imagenes/facebook.png" alt=""> </a>
                <a href="https://instagram.com"><img src="../imagenes/instagram.png" alt=""> </a><a href="https://twitter.com"><img src="../imagenes/twitter.png" alt=""></a> -desarrollado por:Alexis
            </footer>
    
</body>
</html>