<!DOCTYPE html>
<html>
<head>
    
    <title>PelisNET-Series</title>
    <link rel="shortcut icon" href="../imagenes/cine.png">
    <link rel="stylesheet" href="../estilos/style.css">
</head>
<body id="cuerpo">
    <header class="border">
        <h1>Series</h1>
        <a href="../index.html">
            <img src="../imagenes/logo.jpg">
        </a>
        
    </header>
                <section id="peliculas" class="border">
                    <h2>Series</h2>
                    <div>
                        <img src="../imagenes/arcane.jpg">
                        <img src="../imagenes/whatif.jpg">
                        <img src="../imagenes/loki.jpg">
                        <img src="../imagenes/sweettooth.jpg">
                        <img src="../imagenes/wandavision.jpg">
                        <img src="../imagenes/eljuegodelcalamar.jpg">
                        <img src="../imagenes/lucifer.jpg">
                        <img src="../imagenes/rickymorty.jpg">
                        <img src="../imagenes/residentevil.jpg">
                        <img src="../imagenes/invencible.jpg">
                    </div>



                </section>

                <nav class="border">
                    <div class="menuFlex">
                
                        <span><a href="../index.html">Inicio</a></span>
                        <span><a href="../views/peliculas.html">Peliculas</a></span>
                        <span><a href="../views/series.html">Series</a></span>
                        <span><a href="../views/populares.html">Populares</a></span>
                        <span><a href="../views/contacto.html">Contacto</a></span> <br>
            
            
            </div>
            
                     
                </nav>


    
    <footer>Pie de pagina - &copy;2021 Todos los derechos reservados - Redes sociales <a href="https://facebook.com"><img src="../imagenes/facebook.png" alt=""> </a>
        <a href="https://instagram.com"><img src="../imagenes/instagram.png" alt=""> </a><a href="https://twitter.com"><img src="../imagenes/twitter.png" alt=""></a> -desarrollado por:Alexis
    </footer>
    
</body>
</html>